.container {
  height: 500px;
  width: 325px;
  position: absolute;
  top: 60px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-style: solid;
  border-radius: 10px;
  box-shadow: -20px 20px 10px #888888;
  background-color: #8f96ef;
}

.display {
    width: 90%;
    height: 8%;
    margin: auto;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: right;
    left: 0;
    right: 0;
    background-color: #b3c3b2;
    border-radius: 5px;
    font-size: 30px;
    box-shadow: 2px -2px;
  }

.buttons {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    display: grid;
    padding: 10px 10px 10px 10px;
    height: 79%;
  }

.button {
    border-width: 0;
    box-shadow: -2px 2px;
    height: 60px;
    width: 60px;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 10px;
    background-color: #b1b1ce;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    color: black;
    border-color: black;
    font-family: sans-serif;
  }

  .opebut {
      border-width: 0;
      box-shadow: -2px 2px;
      height: 60px;
      width: 60px;
      margin: auto;
      left: 0;
      right: 0;
      border-radius: 10px;
      background-color: #b1b1ce;
      line-height: 60px;
      text-align: center;
      font-size: 30px;
      color: black;
      border-color: black;
      font-family: sans-serif;
    }

    .equals {
        border-width: 0;
        box-shadow: -2px 2px;
        height: 60px;
        width: 60px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 10px;
        background-color: #b1b1ce;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        color: black;
        border-color: black;
        font-family: sans-serif;
      }

.metabut {
  border-width: 0;
  box-shadow: -2px 2px;
  height: 60px;
          width: 60px;
          margin: auto;
          left: 0;
          right: 0;
          border-radius: 10px;
          background-color: #b1b1ce;
          line-height: 60px;
          text-align: center;
          font-size: 30px;
          color: black;
          border-color: black;
          font-family: sans-serif;
        }

#solar {
    grid-column: 1 / span 2;
    border-radius: 10px;
    height: 60px;
    width: 130px;
    margin: auto;
    left: 0;
    right: 0;
    background-color: grey;
    box-shadow: 2px -2px;
  }
